---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>osbyrne</title>
    </head>
    <body>
        {
            (await Astro.glob("../articles/*.md")).map((article) => {
                const { default: Content } = article;
                return (
                    <main style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
                        <article style="margin-left: 2rem; margin-right: 2rem;">
                            <h1>
                                <bb style="display: block; text-align: center; margin-bottom: 2rem;">
                                    {article.frontmatter.title}
                                </bb>
                            </h1>
                            <Content />
                        </article>
                    </main>
                );
            })
        }
    </body>
</html>
